@import url(https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Monoton&family=Righteous&family=Squada+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap);

/* 
font-family: 'Dawning of a New Day', cursive;
font-family:  'Monoton', cursive;
font-family: 'Righteous', cursive;
font-family: 'Squada One', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Comfortaa', cursive;
 */

:root {
 
    --col-white:#ffffff;
    --col-marine:#264653;
    --col-greenblue: #2a9d8e;
    --col-greenblue-opacity:#2a9d8e7b;
    --col-pink:#f6ccc0;
    --col-text-dark: #3d405b;
    --col-bg-opacity:#3d405be7;
}

:root {
    --animate-duration: 1.2s;
    --animate-delay: 3s;
  }


  *{
  
    font-family: 'Bai Jamjuree', sans-serif; 
 }

.bg-blue {
    background: var(--col-text-dark);
}
.bg-light {
    background: var(--col-white);
}
.bg-blue {
  background:var(--col-greenblue);
}

/* Barre de navigation */

.navbar {
    
    font-size: 2.5vh;
    z-index: 2;
    transition: all 0.5s ease;
    font-weight: 600;
} 

.navbar.sticky{
  background: var(--col-white);
  padding: 10px 0;
  box-shadow: 0px 15px 7px 0px rgba(118, 81, 81, 0.1);
  

}

.navbar-brand {
    padding-left: 3rem;
}

.navbar img {
  width: 70px;
  height:100%;
}

@media (max-width: 990px) {
  .navbar-nav {
    background: #ffffffd7;
    border:thick double var(--col-pink);
  }
  .nav-link {
    margin-left: 10px;
  }
}


/* Header */
.header-cont {
  position: relative;
}

.header {
  font-weight: 800;
  background: url(../img/header2@2x.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% center;
  width: auto;
  height: 110vh;
  color:black;
  /* flex-direction: column; */
  display: flex;
}


.header-title {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.header img {
    width: 25rem;
    height: auto;
}

@media screen and (min-width: 200px) and (max-width: 305px) {
  .header {
    padding-top: 15vh;
  }
  .header-title {
    font-size: 3vh;
    }
    .header-deco {
    font-size:4.5vh;
    top: -22%;
    left:-1%;
  }
  .bg-greenblue {
    display: none;
    
  }
  .header img {
    display: none;
  }
  .fleche{
    margin-top: 20vh;
    bottom: 3%;
    left: 50%;
  }

  .header-subtitle {
    margin-top: 10px;
  }
}

@media screen and (min-width: 305px) and (max-width: 550px)  {
  .header {
    padding-top: 15vh;
  }
  .header-title {
    font-size: 4.2vh;
    }
    .header-deco {
    font-size:5.4vh;
    top: -25%;
    left:-1%;
  }
  .bg-greenblue {
    display: none;
    
  }
  .header img {
    display: none;
  }
  .fleche{
    margin-top: 20vh;
    bottom: 3%;
    left: 50%;
  }

  .header-subtitle {
    margin-top: 10px;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px)  {
  .header {
    padding-top: 20vh;
  }
  .header-title {
    font-size: 5.5vh;
    }
    .header-deco {
    font-size:7.5vh;
    top: -32%;
    left:-1%;
  }
  .bg-greenblue {
    display: none;
    
  }
  .header img {
    display: none;
  }
  .fleche{
    margin-top: 15vh;
    bottom: 3%;
    left: 50%;
  }

  .header-subtitle {
    margin-top: 10px;
  }
}

.header-deco {
  display: block;
  opacity: 0.3;
    position: absolute;
    width: 100%;
    -webkit-text-stroke: 1px black;
    color: white;
    z-index:0;
    height: 100%;
    text-align: center;
    
  }

  .bg-greenblue {
    position: absolute;
  /* width: 40vw; */
  height: 5vh;
  background:var(--col-greenblue);
  /* top:15%;
  left: 30%; */
  z-index: 0;
}


.header a {
  text-decoration: none;
  color: black;
  padding-top: 10vh;
}


@media screen and (min-width: 768px) and (max-width: 992px)  {
  .header {
    padding-top: 20vh;
  }
  .header-title {
    font-size: 5vh;
    }
    .header-deco {
    font-size:6.5vh;
    top: -25%;
    left:-1%;
  }
  .bg-greenblue {
    top:12%;
    left: 18%;
    width: 31vw;
    
  }
  /* .header img {
    display: none;
  } */
  .fleche{
    /* margin-top: 15vh; */
    bottom: 10%;
    left: 50%;
  }

  .header-subtitle {
    margin-top: 10px;
  }
}
  
@media screen and (min-width: 992px) and (max-width: 1200px)  {
  .header {
    padding-top: 10vh;
  }
  .header-title {
    font-size: 5vh;
    }
    .header-deco {
    font-size:6.5vh;
    top: -27%;
    left:-1%;
  }
  .bg-greenblue {
    top:12%;
    left: 18%;
    width: 29vw;
    
  }
  .header img {
    width: 30vw;
  }
  .fleche{
    bottom: 5vh!important;
    left: 50%;
  }

  .header-subtitle {
    margin-top: 10px;
  }
}


@media screen and (min-width: 1200px) {
  .header {
    padding-top: 10vh;
  }
  .header-title {
    font-size: 6.5vh;
    }
    .header-deco {
    font-size:8.5vh;
    top: -34%;
    left:2%;
  }
  .bg-greenblue {
    top:15%;
    left: 15%;
    width: 38vw;
    
  }

  .fleche{
    bottom: 5vh!important;
    left: 50%;
  }

  .header-subtitle {
    margin-top: 10px;
  }
}

.fleche{
  /* bottom: 3%; */
	left: 50%;
}

.bounce {
  -moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.py-5 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.py-2 {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
}










/* Presentation*/





.presentation {
    text-align: justify;
    background: var(--col-white);
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.presentation p {
    padding-top: 6vh;
    
}
.presentation h1 {
  font-weight: 600;
}
.about-deco  {
  width: auto;
}


.moi {
  /* height: 60vh; */
  position: relative;
  /* left:25%; */
  top:5vh;
}

.about {
  padding-top: 9vh;
    /* padding-left: 5vw; */
    position: relative;
  }
  
.about-deco {
    opacity: 0.15;
    position: absolute;
    color: black;
    z-index: 0;
    font-weight: bold;
    /* font-size: 5rem; */
    /* height: 100%; */
    /* top: 103%; */
    /* left:-10%; */
    /* width: 100%; */
  }
  
  
  @media screen and (min-width: 750px) {
    .presentation {
    grid-template-columns: 50% 50%;
    }
  }
  @media screen and (min-width: 250px) and (max-width: 550px) {
    .presentation h1 {
      font-size: 3vh;
    }
    .presentation p {
        font-size: 2.3vh;
    }
    .moi {
      position: relative;
      width: 50vw;
      left:25%;
      top:5vh;
    }
    .about-deco {
      top: 112%;
      font-size: 4.8vh;
      /* height: 100%; */
      /* text-align: center; */
    }
    .about-title {
      text-align: center;
    }
  
  }
  
  @media screen and (min-width: 550px) and (max-width: 768px) {
    .presentation h1 {
      font-size: 4vh;
    }
    .presentation p {
        font-size: 2.3vh;
    }
    .moi {
      position: relative;
      width: 40vw;
      top:5vh;
      left:25%;
    }
    .about-deco {
      top: 112%;
      font-size: 2.5rem;
      /* height: 100%; */
    }
    .about-title {
      text-align: left;
    }
  
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .presentation h1 {
      font-size: 4vh;
    }
    .presentation p {
        font-size: 2.3vh;
        margin:2px;
    }
    .moi {
      position: relative;
      width: 35vw;
      top:5vh;
      left:5%;
    }
    .about-deco {
      top: 111%;
      font-size: 2.5rem;
      /* height: 100%; */
    }
    .about-bg-greenblue {
      display: none;
    }
    .about-title {
      text-align: left;
    }
  
  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .presentation h1 {
      font-size: 5vh;
    }
    .presentation p {
        font-size: 2.2vh;
    }
    .moi {
      position: relative;
      width: 27vw;
      /* top:4vh; */
      left:10%;
    }
    .about-deco {
      top: 110%;
      font-size: 8vh;
      /* height: 100%; */
    }
    .about-title {
      text-align: left;
    }
  
  }
  
  @media screen and (min-width: 1200px) {
    .presentation h1 {
      font-size: 6vh; 
    }
    .presentation p {
        font-size: 2.5vh;
      
    }
    .moi {
      position: relative;
      height: 70vh;
      /* top:4vh; */
      left:15%;
    }
    .about-deco {
      top: 110%;
      font-size: 9vh;
      /* height: 100%; */
    }
  
  }


/*PARCOURS*/




.parcours {
  padding-top: 10vh;
  background:url(../img/header2@2x.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% center;
}

.titreparcours {
  position: relative;
  font-weight: 600;
}

.parcours-deco {
    opacity: 0.15;
    position: absolute;
    color: black;
    z-index: 0;
    font-weight: bold;
    /* top: 195%;
    left:-10%; */
    /* width: 100%; */
    /* font-size: 5rem; */
    /* height: 100%; */
    
}

@media screen and (min-width: 250px) and (max-width: 550px) {
  .titreparcours {
  text-align: center;
  font-size: 3vh;
  }
  .parcours-deco {
    top: 245%;
    font-size: 4.8vh;
    text-align: center;
  }

}
@media screen and (min-width: 550px) and (max-width: 768px) {
  .titreparcours {
  text-align: center;
  font-size: 4vh;
  }
  .parcours-deco {
    top: 240%;
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .titreparcours {
    text-align: right;
    padding-right: 10vw;
    font-size: 4vh;
  }
  .parcours-deco {
    top: 202%;
    font-size: 2.5rem;
    right:11%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1999px) {
  .titreparcours {
    text-align: right;
    padding-right: 10vw;
    font-size: 5vh;
  }
  .parcours-deco {
    top: 209%;
    font-size: 8vh;
    right:13%;
  }
}

@media screen and (min-width: 1200px) {
  .titreparcours {
    text-align: right;
    padding-right: 10vw;
    font-size: 6vh;
    }
    .parcours-deco {
      top: 208%;
      font-size: 9vh;
      right: 11%; 
    }
    
}
@media screen and (min-width: 1300px) {
  .titreparcours {
    text-align: right;
    padding-right: 10vw;
    font-size: 6vh;
    }
    .parcours-deco {
      top: 209%;
      font-size: 9vh;
      right: 11%; 
    }
    
}

.textparcours {
  padding: 5px 5px;
}



.btn-cv {
  color:var(--col-white);
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding-top: 1vh; padding-bottom: 1vh;
    padding-left: 3vw; padding-right: 3vw;
    font-weight: bolder;  
    top:2vh;
    bottom:1vh;
  }
  
  .btn-cv::before {
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0; left:0;
    border-radius:inherit;
    background:var(--col-pink);
    z-index:-1;
    color:var(--col-white);
    
  }
  
.btn-cv:hover::before {
  transition:1.2s;
  transform: scale(2);
  opacity: 0;
  
}

.parcours::before, ::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
} 


.box-timeline {
  /* top:5vh; */
  width: 100%;
  height: 170vh;
  background: url(../img/header2@2x.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% center;
  position: relative;
  padding: 80px 0 250px 0;
}

.ligne {
  position: relative;
  height: 800px;
  width: 3px;
  margin: 0 auto;
  background: var(--col--light);
}
.rond {
  color: var(--col-white);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--col-greenblue);
  position: absolute;
  border:1px solid rgba(27, 27, 27, 0);
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.381);
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items:center;
}

.rond:hover {
  background: var(--col-pink);
  color:var(--col-white);
}


 .r1{
   top:40px;
 }
 .r2{
  top:415px;
}
.r3{
  top:800px;
}

.box {
  color: #333;
  width: 400px;
  min-height: 200px;
  padding:20px;
  border-radius: 3px;
  height: auto;
  background: var(--col-white);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.381);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.b1 {
  top: 40px;
  left: calc(50% - 270px);
}
.b2 {
  top: 415px;
  left: calc(50% + 270px);
}
.b3 {
  top: 800px;
  left: calc(50% - 270px);
}

.box p {
  line-height: 20px;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

@media screen and (max-width:1000px) {
  .ligne {
    position: relative;
    left: 200px;
  }
  .rond {
    left: calc(50% + 200px);
  }
  .box {
    left: calc(50% - 50px)
  }
  .box-timeline {
    height: 170vh;
  }
}
@media screen and (max-width:500px) {
  .ligne {
    position: relative;
    left: 150px;
    height: 750px;
  }
  .rond {
    width: 50px;
    height: 50px;
    left: calc(50% + 150px);
  }
  .box {
    width: 200px;
    left: calc(50% - 20px)
  }
  .box-timeline {
    height: 185vh;
  }
}
@media screen and (max-width:350px) {
  .ligne {
    position: relative;
    left: 120px;
    height: 750px;
  }
  .rond {
    width: 40px;
    height: 40px;
    left: calc(50% + 115px);
  }
  .box {
    width: 200px;
    left: calc(50% - 20px)
  }
  .box-timeline {
    height: 180vh;
  }
  
}



/*Partie skills*/

.skills {
  height: 55vh;
  background: var(--col-white);
}
.my-skills {
  flex-wrap: wrap;
  display:flex;
}

.titreskills {
padding-top: 10vh;
padding-bottom: 10vh;
position: relative;
}

.skills-deco {
  opacity: 0.15;
    position: absolute;
    top:400%;
    left:-15%;
    width: 100%;
    color: black;
    z-index: 0;
    font-size: 5rem;
    height: 100%;
    text-align: center;
    font-weight: bold;
}
.icon-adobe {
  height: 5px;
}
.html {
    color:orangered;
}
.CSS {
    color:#3594CF;
}
.JS {
    color:#E8D44D;
}
.bootstrap {
    color: #533B78;
}
.php {
    color:#7377AD;
}
.python {
    color: rgb(247,202,62);
}

.skills .fa, .fab, .fas {
  padding:10px;
}


.projets  {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 2vh;
  background: var(--col-white);
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% center;
}
.projets-deco {
  opacity: 0.15;
  position: absolute;
  top: 457%;
  left:-14%;
  width: 100%;
  color: black;
  z-index: 0;
  font-size: 5rem;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.projets img {
  width: 300px;
  min-width: 270px;
}

.masque {
  opacity:0;
  transition:0.3s;
  background: var(--col-pink);
  }
  
  .projets figure:hover .masque {
  opacity:0.8;
  }

  .projets .a {
    text-decoration: none;
    font-weight: bold;
  }
  .projets .a:hover {
      color:var(--col-white);
  }
  

@media (max-width:1200px) {
  .card {
    height: 50vh;
    width: 35vw;
  }
}
@media (max-width:780px) {
  .card {
    height: 45vh;
    width: 100%;
  }
}
@media (max-width:500px) {
  .card {
    height: 45vh;
    width: 100%;
  }
}
@media (max-width:300px) {
  .card {
    height: 45vh;
    width: 100%;
  }
}


/* Partie contact */

#contact {
    /* width: 100%; */
    height: 100vh;
    background:url(../img/header2@2x.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% center;
    overflow: hidden;
    /*padding-bottom: 200px;*/
  }
  @media screen and (max-width: 805px) {
    #contact{
      width: 100%;
      height: 160vh;
    }
  }
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    letter-spacing: 6px;
      padding-top: 10vh;
      position: relative;
  
  }

  .contact-deco {
    opacity: 0.15;
    position: absolute;
    top: 513%;
    left:-10%;
    width: 100%;
    color: black;
    z-index: 0;
    font-size: 4.5rem;
    /* height: 100%; */ 
    text-align: center;
    font-weight: bold;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
  }
  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left;
    max-width: 400px;
    font-weight: 400;
  }
  
  .form-control, textarea {
    max-width: 400px;
    background-color:var(--col-greenblue-opacity);
    color:var(--col-white);
    letter-spacing: 1px;
    margin-top:10px;
  }
  .form-control::before {
      color: var(--col-greenblue);
  }
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
    justify-content: center;

  }
  
  .btn-mail {
      background: var(--col-greenblue-opacity);
  }

  .btn-mail:hover {
    background: var(--col-pink);
}
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Bai Jamjuree', sans-serif;
    letter-spacing: 1px;

  }
  
  .button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color:#2a2d2f;
    padding-left: 3vw;
  }
  
  .contact-text {
    font: 300 18px 'Bai Jamjuree', sans-serif;
    letter-spacing: 1.9px;
    color:#2a2d2f;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
    color:#2a2d2f;
  }
  
  .contact-text a {
    color:#2a2d2f;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: var(--col-greenblue);
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;

  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(27, 27, 27, 0.211);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: rgb(7, 6, 6);
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(27, 22, 22, 0.986); 
    margin-left: 2vw;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 760px) {
    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
  @media screen and (max-width: 760px) {
    .direct-contact-container, .contact-text {
      font-size: 1.9vh;
    }
  }
  @media screen and (max-width: 526px) {
    .direct-contact-container, .contact-text {
      font-size: 1.6vh;
    }
  }
  @media screen and (max-width: 300px) {
    .direct-contact-container, .contact-text {
      font-size: 1.4vh;
    }
  }

  
.top {
    text-decoration: none;
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: rgba(27, 27, 27, 0.211);
}